<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/staylesheet/app.css">
	<%- include("./partials/head.ejs")%>
</head>
<body>

	<%- include('./partials/header.ejs')  %>

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%= usuario.fotoPerfil %>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= usuario.nombre %> 
						<a href="profile-edit.html">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/roduct">
						<figure class="product-box_image">
							<img src="<%= productos[0].imagen %>" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%= productos[0].nombre %></h2>
							<p><%= productos[0].descripción %></p>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[0].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[0].comentario %></p>
								<img src="<%= productos[0].comentarios[0].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[1].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[1].comentario %></p>
								<img src="<%= productos[0].comentarios[1].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[2].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[2].comentario %></p>
								<img src="<%= productos[0].comentarios[2].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[3].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[3].comentario %></p>
								<img src="<%= productos[0].comentarios[3].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[4].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[4].comentario %></p>
								<img src="<%= productos[0].comentarios[4].imgPerfil %>" alt="img de perfil">
							</div>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/roduct">
						<figure class="product-box_image">
							<img src="<%= productos[1].imagen %>" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%= productos[1].nombre %></h2>
							<p><%= productos[1].descripción %></p>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[0].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[0].comentario %></p>
								<img src="<%= productos[0].comentarios[0].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[1].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[1].comentario %></p>
								<img src="<%= productos[0].comentarios[1].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[2].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[2].comentario %></p>
								<img src="<%= productos[0].comentarios[2].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[3].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[3].comentario %></p>
								<img src="<%= productos[0].comentarios[3].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[4].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[4].comentario %></p>
								<img src="<%= productos[0].comentarios[4].imgPerfil %>" alt="img de perfil">
							</div>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/roduct">
						<figure class="product-box_image">
							<img src="<%= productos[2].imagen %>" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%= productos[2].nombre %></h2>
							<p><%= productos[2].descripción %></p>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[0].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[0].comentario %></p>
								<img src="<%= productos[0].comentarios[0].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[1].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[1].comentario %></p>
								<img src="<%= productos[0].comentarios[1].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[2].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[2].comentario %></p>
								<img src="<%= productos[0].comentarios[2].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[3].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[3].comentario %></p>
								<img src="<%= productos[0].comentarios[3].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[4].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[4].comentario %></p>
								<img src="<%= productos[0].comentarios[4].imgPerfil %>" alt="img de perfil">
							</div>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/roduct">
						<figure class="product-box_image">
							<img src="<%= productos[3].imagen %>" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%= productos[3].nombre %></h2>
							<p><%= productos[3].descripción %></p>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[0].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[0].comentario %></p>
								<img src="<%= productos[0].comentarios[0].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[1].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[1].comentario %></p>
								<img src="<%= productos[0].comentarios[1].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[2].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[2].comentario %></p>
								<img src="<%= productos[0].comentarios[2].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[3].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[3].comentario %></p>
								<img src="<%= productos[0].comentarios[3].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[4].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[4].comentario %></p>
								<img src="<%= productos[0].comentarios[4].imgPerfil %>" alt="img de perfil">
							</div>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/roduct">
						<figure class="product-box_image">
							<img src="<%= productos[4].imagen %>" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%= productos[4].nombre %></h2>
							<p><%= productos[4].descripción %></p>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[0].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[0].comentario %></p>
								<img src="<%= productos[0].comentarios[0].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[1].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[1].comentario %></p>
								<img src="<%= productos[0].comentarios[1].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[2].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[2].comentario %></p>
								<img src="<%= productos[0].comentarios[2].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[3].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[3].comentario %></p>
								<img src="<%= productos[0].comentarios[3].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[4].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[4].comentario %></p>
								<img src="<%= productos[0].comentarios[4].imgPerfil %>" alt="img de perfil">
							</div>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/roduct">
						<figure class="product-box_image">
							<img src="<%= productos[5].imagen %>" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%= productos[5].nombre %></h2>
							<p><%= productos[5].descripción %></p>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[0].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[0].comentario %></p>
								<img src="<%= productos[0].comentarios[0].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[1].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[1].comentario %></p>
								<img src="<%= productos[0].comentarios[1].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[2].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[2].comentario %></p>
								<img src="<%= productos[0].comentarios[2].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[3].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[3].comentario %></p>
								<img src="<%= productos[0].comentarios[3].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[4].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[4].comentario %></p>
								<img src="<%= productos[0].comentarios[4].imgPerfil %>" alt="img de perfil">
							</div>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/roduct">
						<figure class="product-box_image">
							<img src="<%= productos[6].imagen %>" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%= productos[6].nombre %></h2>
							<p><%= productos[6].descripción %></p>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[0].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[0].comentario %></p>
								<img src="<%= productos[0].comentarios[0].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[1].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[1].comentario %></p>
								<img src="<%= productos[0].comentarios[1].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[2].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[2].comentario %></p>
								<img src="<%= productos[0].comentarios[2].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[3].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[3].comentario %></p>
								<img src="<%= productos[0].comentarios[3].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[4].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[4].comentario %></p>
								<img src="<%= productos[0].comentarios[4].imgPerfil %>" alt="img de perfil">
							</div>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/roduct">
						<figure class="product-box_image">
							<img src="<%= productos[7].imagen %>" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%= productos[7].nombre %></h2>
							<p><%= productos[7].descripción %></p>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[0].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[0].comentario %></p>
								<img src="<%= productos[0].comentarios[0].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[1].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[1].comentario %></p>
								<img src="<%= productos[0].comentarios[1].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[2].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[2].comentario %></p>
								<img src="<%= productos[0].comentarios[2].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[3].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[3].comentario %></p>
								<img src="<%= productos[0].comentarios[3].imgPerfil %>" alt="img de perfil">
							</div>
							<div>
								<h2 class="nombre"><%= productos[0].comentarios[4].nombreUsuario %></h2>
								<p class="comentario"><%= productos[0].comentarios[4].comentario %></p>
								<img src="<%= productos[0].comentarios[4].imgPerfil %>" alt="img de perfil">
							</div>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Mis productos -->


	<%- include("./partials/footer") %>
</body>	
</html>