<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head.ejs")%>


<body>

	<%- include('./partials/header.ejs')  %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<% if (producto.length == 0) { %>
				<div class="col-12">
					<p>No hay resultados para su criterio de búsqueda.</p>
				</div>
			<% } else { %>
			 
			<% for( let i=0; i < producto.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/producto/detalle/<%= producto[i].id %>">
							<figure class="product-box_image">
								<img src="<%- producto[i].imagen_producto %>" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2>
									<%- producto[i].nombre_producto %>
								</h2>
								<p>
									<%- producto[i].descripcion %>
								</p>
								<p>
									<a href="/user/perfil/<%= producto[i].usuario.id %>"><%= producto[i].usuario.usuario %></a>
								</p>
							</article>
						</a>
					</section>
				</div>
				<% } %>
			<% } %>		
		</div>
	</div>
			<%- include("./partials/footer") %>
</body>
</html>